**/__pycache__/

dataset/news_cleaned.csv

dataset/train.csv
dataset/test.csv
dataset/labels.txt

.linear_vector_cache/

.word2vec_cache/

.vector_cache/

.fasttext_cache/

.vscode/

specific-embeddings/

*.sh

saved_models/

gan/ag_news_csv/

ag_news_csv/